# Compiled class files
*.class

# Log files
*.log

# IntelliJ project files
.idea/

# Maven files
target/

# Gradle files
.gradle/
build/

# Eclipse files
.settings/

# Javadoc files
javadoc/

# External dependencies (specific to IntelliJ)
.externalDependencies/

# Operating System files (Mac, Windows, Linux)
.DS_Store
Thumbs.db

# Editor-specific files
*~

# Temporary files
tmp/
